@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&family=Titillium+Web&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* can now reference my font */
body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Titillium Web', sans-serif; */
}

input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus {
    border: 2px solid #555;
  }

  .box {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #000000;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
  }